* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'roboto';
    src: url(./fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'roboto';
    font-weight: bold;
    src: url(./fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'roboto';
    font-style: italic;
    src: url(./fonts/Roboto/Roboto-Italic.ttf);
}

@font-face {
    font-family: 'roboto';
    font-weight: bold;
    font-style: italic;
    src: url(./fonts/Roboto/Roboto-BoldItalic.ttf);
}

body {
    font-family: 'roboto';
}

img{
    max-width: 100%;
}

:root {
    --primary-color: #109DEA;
    --secondary-color: #04234E;
    --tertiary-color: #EE88E4;
    --text-color: #FFFFFF;
}

/* ----------- CODE BELOW -----------  */
.card{
    background-color: #109DEA;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card nav {
    height: 70px;
    display: flex;
}

.card .titre{
    color: #ffffff;
    font-size: 23px;
    font-weight: bold ;
    margin-left: 20px;  
}


.card a {
    color: white;
    text-decoration: none;
    font-size: 21px;
    padding: 0 2rem;
    display: flex;
    align-items: center;
}

.card a:hover{
    background-color:#EE88E4;
}

.cover {
    object-fit: cover;
    display:block;
    height: 350px;
    width: 100%; 
    object-position: bottom;
}

.card1{
background-color:#04234E;
height: 350px;
}

